@import url("https://fonts.googleapis.com/css?family=Titillium+Web:200,400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Maven+Pro&display=swap");
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #7288eb;
  font-family: "Titillium Web", sans-serif;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: #2d2c31;
}
ul {
  list-style-type: none;
}
li {
  display: inline-block;
  margin-right: 40px;
  font-weight: 300;
  font-size: 25px;
}
li i {
  color: #7288eb;
}
.logo-nav {
  margin: 15px 0 0 85px;
}
#image-logo {
  height: 44px;
  vertical-align: middle;
}
.refresh-button {
  transition: transform 400ms ease-in-out;
}
.refresh-button:hover {
  transform: rotate(360deg);
  transition: transform 400ms ease-in-out;
}
.cancel-button {
  transition: transform 500ms ease-in-out;
}
.cancel-button:hover {
  transform: rotate(90deg);
  transition: transform 500ms ease-in-out;
}
#nav-container {
  height: 90px;
  background-color: #f5f4f4;
  padding-right: 50px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e6ecf8;
}
#main-container {
  background-color: #f5f4f4;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  font-family: "Titillium Web", "Arial";
  height: calc(100vh - 90px);
  width: 100%;
}
#picture-desc-container {
  margin-top: -80px;
  padding: 0;
  height: 80px;
}
#picture-desc {
  height: 100px;
}
#contact-form {
  margin-top: 80px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  width: 50%;
}
.form-2-elements {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.form-2-elements div {
  width: 100%;
}
.form-2-elements input {
  width: 90%;
}
.form-header {
  margin-top: 100px;
  font-family: "Titillium Web", "Arial";
  font-weight: 300;
  font-size: 45px;
  line-height: 1.2;
  color: #7288eb;
  text-align: center;
}
label {
  display: block;
  font-size: 22px;
  font-weight: 300;
  color: rgba(41, 51, 71, 0.65);
}
input {
  padding: 10px;
  font-family: "Titillium Web", "Arial";
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border: 0.5px #e6ecf8 solid;
  border-radius: 8px;
  height: 40px;
  font-size: 21px;
  font-weight: 300;
  color: #141c3a;
  box-shadow: none;
}
textarea {
  padding: 10px;
  width: 95%;
  height: 150px;
  font-family: "Titillium Web", "Arial";
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border: 0.5px #e6ecf8 solid;
  border-radius: 8px;
  resize: vertical;
  font-size: 21px;
  font-weight: 300;
  color: #141c3a;
  box-shadow: none;
}
textarea:focus,
input:focus {
  outline: 0;
  border: 0.5px #7288eb solid;
}
.submit-button {
  border: 2px solid hsl(281, 35%, 49%);
  border-radius: 30px;
  background-color: #f5f4f4;
  width: 150px;
  font-family: "Titillium Web", "Arial";
  padding: 8px 12px 8px 12px;
  margin: 30px auto 0 auto;
  font-size: 18px;
  font-weight: 800;
  transition: background-color 300ms ease-in-out;
}
.submit-button:hover {
  background-color: #7288eb;
  -webkit-transition: background-color 500ms ease-in-out;
  -ms-transition: background-color 500ms ease-in-out;
  cursor: pointer;
  transition: background-color 500ms ease-in-out;
}
.submit-button > div {
  color: #7288eb;
  -webkit-transition: color 300ms ease-in-out;
  -ms-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}
.submit-button:hover > div {
  color: white;
  -webkit-transition: color 500ms ease-in-out;
  -ms-transition: color 500ms ease-in-out;
  transition: color 500ms ease-in-out;
}
@media (max-width: 640px) {
  .logo-nav {
    margin-left: 30px;
  }
  .nav {
    margin-right: -60px;
  }
  #contact-form {
    margin-top: 80px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .form-2-elements {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .form-2-elements div {
    width: 100%;
  }
  .form-2-elements input {
    width: 90%;
  }
  .form-header {
    margin-top: 100px;
    font-family: "Titillium Web", "Arial";
    font-weight: 300;
    font-size: 26px;
    line-height: 1.2;
    color: #7288eb;
    text-align: center;
  }
  textarea {
    padding: 10px;
    width: 90%;
    height: 150px;
    font-family: "Titillium Web", "Arial";
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border: 0.5px #e6ecf8 solid;
    border-radius: 8px;
    resize: vertical;
    font-size: 21px;
    font-weight: 300;
    color: #141c3a;
    box-shadow: none;
  }
}
#notification-alert {
  display: none;
}
.alert {
  margin-top: 30px;
  padding: 20px;
  background-color: #e0eac2;
  color: #8ea35b;
}
.closebtn {
  margin-left: 15px;
  color: #8ea35b;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: transform 500ms ease-in-out;
}
.closebtn:hover {
  transform: rotate(90deg);
  transition: transform 500ms ease-in-out;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px 10px transparent;
  border: solid 3px transparent;
}
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px #121c38;
  border: solid 3px transparent;
}
